{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="cardbox">
    <div class="card2" style="width: 18rem;">
        <img class="card-img-top" src="static/images/smiley_cat.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">This is me</h5>
        </div>
    </div>
    <div class="card2" style="width: 18rem;">
        <img class="card-img-top" src="static/images/hello_kitty.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">This is Melly</h5>
        </div>
    </div>
    <div class="card2" style="width: 18rem;">
        <img class="card-img-top" src="static/images/cat_sulek.webp" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">This is Kegan</h5>
        </div>
    </div>
    <div class="card2" style="width: 18rem;">
        <img class="card-img-top" src="static/images/huh_cat.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">This is Richard</h5>
        </div>
    </div>
    <div class="card2" style="width: 18rem;">
        <img class="card-img-top" src="static/images/goofy_cat.webp" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">This is Piotr</h5>
        </div>
    </div>
    
</div>
{% endblock %}