{% extends 'website/base.html' %}
{% block content %}


    <br>
    <h5> Welcome weather data page </h5>
    <hr>

    <h5>Please choose a city</h5>
    <form action="weather-data" method="POST">
        {% csrf_token %}

        <input type="text" id="city" name="city" value=""><br>
        <input type="submit" value="submit">
      </form>
    <br>

    {% if data %}

        <p>Location: {{data.location}}<p>
        <p>Weather: {{data.weather}}<p>
        <p>Temperature: {{data.temperature}}<p>
        <p>Min: {{data.min}}<p>
        <p>Max: {{data.max}}<p>
        <p>Icon Code: {{data.icon}}<p>

        <br>
        <img src="https://openweathermap.org/img/wn/{{data.icon}}@2x.png" alt="Icon">
    {% else %}
        <br>
        <p> No city yet chosen yet

    {% endif %}

{% endblock %}